<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">

    <ol class="breadcrumb">
        <li><a href="index.html">Home</a></li>
        <li class="active">About</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-sm-8 maincontent">
            <header class="page-header">
                <h1 class="page-title">About us</h1>
            </header>
            <h3>Lorem ipsum</h3>
            <p>
                <img src="assets/images/mac.jpg" alt="" class="img-rounded pull-right" width="300"> Lorem ipsum dolor sit
                amet, consectetur adipisicing elit. Eveniet, consequuntur eius repellendus eos aliquid molestiae ea laborum
                ex quibusdam laudantium voluptates placeat consectetur quam aliquam beatae soluta accusantium iusto nihil
                nesciunt unde veniam magnam repudiandae sapiente.</p>
            <p>Quos, aliquam nam velit impedit minus tenetur beatae voluptas facere sint pariatur! Voluptatibus, quisquam, error,
                est assumenda corporis inventore illo nesciunt iure aut dolor possimus repellat minima veniam alias eius!</p>
            <h3>Necessitatibus</h3>
            <p>Video provides a powerful way to help you prove your point. When you click Online Video, you can paste in the
                embed code for the video you want to add. You can also type a keyword to search online for the video that
                best fits your document. To make your document look professionally produced, Word provides header, footer,
                cover page, and text box designs that complement each other. For example, you can add a matching cover page,
                header, and sidebar. Click Insert and then choose the elements you want from the different galleries. Themes
                and styles also help keep your document coordinated. When you click Design and choose a new Theme, the pictures,
                charts, and SmartArt graphics change to match your new theme. When you apply styles, your headings change
                to match the new theme. Save time in Word with new buttons that show up where you need them. To change the
                way a picture fits in your document, click it and a button for layout options appears next to it. When you
                work on a table, click where you want to add a row or a column, and then click the plus sign. Reading is
                easier, too, in the new Reading view. You can collapse parts of the document and focus on the text you want.
                If you need to stop reading before you reach the end, Word remembers where you left off - even on another
                device.
            </p>

            <h3>Fugit, laboriosam</h3>
            <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit.
                Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias
                quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium
                laboriosam odio id?</p>
            <h3>Doloribus, illo ipsum</h3>
            <p>Velit, odit, eius, libero unde impedit quaerat dolorem assumenda alias consequuntur optio quae maiores ratione
                tempore sit aliquid architecto eligendi pariatur ab soluta doloremque dicta aspernatur labore quibusdam dolore
                corrupti quod inventore. Maiores, repellat, consequuntur eius repellendus eos aliquid molestiae ea laborum
                ex quibusdam laudantium voluptates placeat consectetur quam aliquam!</p>
            <p>Eum, quasi, est, vitae, ipsam nobis consectetur ea aspernatur ad eos voluptatibus fugiat nisi perferendis impedit.
                Quam, nulla, excepturi, voluptate minus illo tenetur sint ab in culpa cumque impedit quibusdam. Saepe, molestias
                quia voluptatem natus velit fugiat omnis rem eos sapiente quasi quaerat aspernatur quisquam deleniti accusantium
                laboriosam odio id?</p>

        </article>
        <!-- /Article -->

        <vacancies-component></vacancies-component>

    </div>
</div>
<!-- /container -->