<div class='row'>
    <div class='col-md-4'>
        <img src="{{ customerDetail.customerId | photoUrl: 'JPG' }}" alt="{{ customerDetail.name }}" class='img img-responsive img-rounded'
            title="Customer Photo of {{ customerDetail.name }}" />
    </div>

    <div class='col-md-8'>
        <table class='table table-responsive table-condensed table-hover'>
            <thead>
                <tr>
                    <th>Property Name</th>
                    <th>Property Value</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Customer Id:</td>
                    <td> {{ customerDetail.customerId }} </td>
                </tr>

                <tr>
                    <td>Name:</td>
                    <td> {{ customerDetail.name }} </td>
                </tr>

                <tr>
                    <td>Address</td>
                    <td> {{ customerDetail.address }} </td>
                </tr>

                <tr>
                    <td>Email </td>
                    <td> {{ customerDetail.email }} </td>
                </tr>

                <tr>
                    <td>Phone</td>
                    <td> {{ customerDetail.phone }} </td>
                </tr>

                <tr>
                    <td>Credit</td>
                    <td> {{ customerDetail.credit }} </td>
                </tr>

                <tr>
                    <td>Status</td>
                    <td> {{ customerDetail.status }} </td>
                </tr>

                <tr>
                    <td>Remarks</td>
                    <td> {{ customerDetail.remarks | contentTrim: 50 }} </td>
                </tr>

                <tr>
                    <td>Blog</td>
                    <td style="word-wrap: break-word;min-width: 160px;max-width: 160px;">
                        {{ customerDetail.blogUrl | contentTrim: 50 }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>