<header id="head" class="secondary"></header>

<!-- container -->
<div class="container">
    <ol class="breadcrumb">
        <li><a routerLink='home'>Home</a></li>
        <li class="active">Customers</li>
    </ol>

    <br />

    <div class='row'>
        <div class='col-md-6'>
            <customer-search-panel-component #searchPanel></customer-search-panel-component>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3" *ngFor="let customer of customers | where: 'name': searchPanel.searchString">
            <customer-viewer-component [customerInfo]='customer'>
            </customer-viewer-component>
        </div>
    </div>
</div>